.stopwatch-container {
  margin-top: 10vh;
  border-style: solid;
  border-color: rgb(162, 195, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10vh 10vh;
  width: 20vh;
  height: 20vh;
  background-color: rgb(111, 150, 202);
}
.stopwatch-btn {
  width: 3vw;
  height: 3vh;
  border: none;
  background-color: transparent;
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Baloo Tamma 2";
  font-size: 1.5vh;
  text-transform: uppercase;
  cursor: pointer;
}

.stopwatch-text {
  font-family: "Baloo Tamma 2";
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}
.stopwatch-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.stopwatch-btn:hover {
  color: rgb(138, 49, 49);
}
